.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;                /* Full width */
    align-items: center;
    justify-self: center;
    background-color: #b0c1b9;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03); /* Optional: subtle shadow */
}

.header-container h1 {
    margin: 0;
    /* font-size: 40px; */
}

.header-container .app-nav {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.header-container .app-nav a {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    z-index: 1;
}

.header-container .app-nav a:hover {
    color: #fff;
}

.header-container .app-nav a::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 60px;
    background: radial-gradient(circle, #3f4cf8 1%, transparent 80%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    border-radius: 50%;
    pointer-events: none;
}

.header-container .app-nav a:hover::before {
    opacity: 1;
}