.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home-description {
        text-align: center;
        max-width: 600px;
    }

    .home-logo {
        display: block;
        margin: 20px auto;
    }
}

