.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    width: 75%;
    justify-self: center;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.12);
    padding: 18px;
}

.toy-card.header {
    justify-self: center;
    padding: 0;
    margin: 0;
}

.toy-card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 0.5em; */
    background: #22223b;
    color: #fff;
    /* padding: 0.7em 0.5em; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 1em;
}

.toy-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 0.5em; */
    background: none;
    font-size: 0.95em;
    padding: 10px;
}

.toy-list li {}

.img {
    max-width: 100%;
    /* height: auto; */
}

.toy-card {
    background-color: var(--clr2bg);
    max-width: 70%;
    border-radius: 10%;
    padding: 4px;
    max-width: 320px;
}

.toy-card button {
    background-color: #22223b;
    width: 0;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;

}



.toy-card-actions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0.5em 0;
}

.toy-card {
    background-color: #232876;
}